/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-brand2-theme {
  --color_c1: #ffffff;
  --color_c2: #9b5757;
  --color_c3: #234c64;
}