/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dimension-grp-2-grp-2-1-number-n2: 0px;
  --dimension-grp-1-number-n3: 999999px;
  --dimension-number-n1: 1px;
  --dimension-grp-2-number-b1: 0px;
}