/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --string-grp-2-string-s1: "String value";
  --string-grp-1-string-s2: "Hue hue hue";
  --string-base-string: "String value";
  --string-extended-string: "Parent light";
  --string-ref-string: var(--string-base-string);
}